In [10]:
import pandas as pd

print('bye')

bye

In [19]:
edu_df = pd.read_excel('/Users/bgrullon/challenges/ipc-county/data/Education.xlsx')
edu_df.rename(columns={
    'Federal Information Processing Standard (FIPS) Code': 'FIPS_Code'
}, inplace=True)
edu_df.drop(['State', 'Area name'], axis=1,inplace=True)
edu_df.head()

,FIPS_Code,"Less than a high school diploma, 2017-21","High school diploma only, 2017-21","Some college or associate's degree, 2017-21","Bachelor's degree or higher, 2017-21"
0,1000,430047.0,1041209.0,1032122.0,910425.0
1,1001,4126.0,12977.0,11367.0,11144.0
2,1003,14555.0,44342.0,50518.0,52562.0
3,1005,4378.0,6600.0,5010.0,2007.0
4,1007,3125.0,7052.0,3967.0,1913.0

In [20]:
unemp_df = pd.read_excel('/Users/bgrullon/challenges/ipc-county/data/Unemployment.xlsx')
unemp_df.head()

,FIPS_Code,State,Area_Name,Civilian_labor_force_2020,Employed_2020,Unemployed_2020,Unemployment_rate_2020,Civilian_labor_force_2021,Employed_2021,Unemployed_2021,Unemployment_rate_2021,Civilian_labor_force_2022,Employed_2022,Unemployed_2022,Unemployment_rate_2022
0,1000,AL,Alabama,2269672.0,2124409.0,145263.0,6.4,2259349.0,2183330.0,76019.0,3.4,2286028.0,2226670.0,59358.0,2.6
1,1001,AL,"Autauga County, AL",26425.0,25023.0,1402.0,5.3,26545.0,25809.0,736.0,2.8,26789.0,26181.0,608.0,2.3
2,1003,AL,"Baldwin County, AL",98979.0,92893.0,6086.0,6.1,99953.0,97034.0,2919.0,2.9,102849.0,100432.0,2417.0,2.4
3,1005,AL,"Barbour County, AL",8684.0,8017.0,667.0,7.7,8280.0,7821.0,459.0,5.5,8241.0,7906.0,335.0,4.1
4,1007,AL,"Bibb County, AL",8717.0,8085.0,632.0,7.3,8641.0,8347.0,294.0,3.4,8726.0,8507.0,219.0,2.5

In [21]:
pop_est_df = pd.read_excel('/Users/bgrullon/challenges/ipc-county/data/PopulationEstimates.xlsx')
pop_est_df.rename(columns={
    'FIPStxt': 'FIPS_Code'
}, inplace=True)
pop_est_df.drop(['State', 'Area_Name'], axis=1,inplace=True)
pop_est_df.head()

,FIPS_Code,POP_ESTIMATE_2020,POP_ESTIMATE_2021,POP_ESTIMATE_2022,BIRTHS_2020,BIRTHS_2021,BIRTHS_2022,DEATHS_2020,DEATHS_2021,DEATHS_2022
0,1000,5031362.0,5049846.0,5074296.0,13867.0,57112.0,58280.0,15165.0,69056.0,66870.0
1,1001,58902.0,59210.0,59759.0,162.0,694.0,709.0,177.0,682.0,673.0
2,1003,233219.0,239361.0,246435.0,560.0,2367.0,2411.0,593.0,3044.0,2909.0
3,1005,24960.0,24539.0,24706.0,60.0,276.0,277.0,93.0,383.0,372.0
4,1007,22183.0,22370.0,22005.0,56.0,244.0,248.0,55.0,318.0,321.0

In [22]:
m_df = pd.merge(unemp_df, pop_est_df, on='FIPS_Code')
m_df.head()

,FIPS_Code,State,Area_Name,Civilian_labor_force_2020,Employed_2020,Unemployed_2020,Unemployment_rate_2020,Civilian_labor_force_2021,Employed_2021,Unemployed_2021,...,Unemployment_rate_2022,POP_ESTIMATE_2020,POP_ESTIMATE_2021,POP_ESTIMATE_2022,BIRTHS_2020,BIRTHS_2021,BIRTHS_2022,DEATHS_2020,DEATHS_2021,DEATHS_2022
0,1000,AL,Alabama,2269672.0,2124409.0,145263.0,6.4,2259349.0,2183330.0,76019.0,...,2.6,5031362.0,5049846.0,5074296.0,13867.0,57112.0,58280.0,15165.0,69056.0,66870.0
1,1001,AL,"Autauga County, AL",26425.0,25023.0,1402.0,5.3,26545.0,25809.0,736.0,...,2.3,58902.0,59210.0,59759.0,162.0,694.0,709.0,177.0,682.0,673.0
2,1003,AL,"Baldwin County, AL",98979.0,92893.0,6086.0,6.1,99953.0,97034.0,2919.0,...,2.4,233219.0,239361.0,246435.0,560.0,2367.0,2411.0,593.0,3044.0,2909.0
3,1005,AL,"Barbour County, AL",8684.0,8017.0,667.0,7.7,8280.0,7821.0,459.0,...,4.1,24960.0,24539.0,24706.0,60.0,276.0,277.0,93.0,383.0,372.0
4,1007,AL,"Bibb County, AL",8717.0,8085.0,632.0,7.3,8641.0,8347.0,294.0,...,2.5,22183.0,22370.0,22005.0,56.0,244.0,248.0,55.0,318.0,321.0

In [23]:
df = pd.merge(m_df, edu_df, on='FIPS_Code')
df.head()

,FIPS_Code,State,Area_Name,Civilian_labor_force_2020,Employed_2020,Unemployed_2020,Unemployment_rate_2020,Civilian_labor_force_2021,Employed_2021,Unemployed_2021,...,BIRTHS_2020,BIRTHS_2021,BIRTHS_2022,DEATHS_2020,DEATHS_2021,DEATHS_2022,"Less than a high school diploma, 2017-21","High school diploma only, 2017-21","Some college or associate's degree, 2017-21","Bachelor's degree or higher, 2017-21"
0,1000,AL,Alabama,2269672.0,2124409.0,145263.0,6.4,2259349.0,2183330.0,76019.0,...,13867.0,57112.0,58280.0,15165.0,69056.0,66870.0,430047.0,1041209.0,1032122.0,910425.0
1,1001,AL,"Autauga County, AL",26425.0,25023.0,1402.0,5.3,26545.0,25809.0,736.0,...,162.0,694.0,709.0,177.0,682.0,673.0,4126.0,12977.0,11367.0,11144.0
2,1003,AL,"Baldwin County, AL",98979.0,92893.0,6086.0,6.1,99953.0,97034.0,2919.0,...,560.0,2367.0,2411.0,593.0,3044.0,2909.0,14555.0,44342.0,50518.0,52562.0
3,1005,AL,"Barbour County, AL",8684.0,8017.0,667.0,7.7,8280.0,7821.0,459.0,...,60.0,276.0,277.0,93.0,383.0,372.0,4378.0,6600.0,5010.0,2007.0
4,1007,AL,"Bibb County, AL",8717.0,8085.0,632.0,7.3,8641.0,8347.0,294.0,...,56.0,244.0,248.0,55.0,318.0,321.0,3125.0,7052.0,3967.0,1913.0

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3272 entries, 0 to 3271
Data columns (total 28 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   FIPS_Code                                    3272 non-null   int64
 1   State                                        3272 non-null   object
 2   Area_Name                                    3272 non-null   object
 3   Civilian_labor_force_2020                    3193 non-null   float64
 4   Employed_2020                                3193 non-null   float64
 5   Unemployed_2020                              3193 non-null   float64
 6   Unemployment_rate_2020                       3193 non-null   float64
 7   Civilian_labor_force_2021                    3272 non-null   float64
 8   Employed_2021                                3272 non-null   float64
 9   Unemployed_2021                              3272 non-null   float64
 10  Unemployment_rate_2021                       3272 non-null   float64
 11  Civilian_labor_force_2022                    3272 non-null   float64
 12  Employed_2022                                3272 non-null   float64
 13  Unemployed_2022                              3272 non-null   float64
 14  Unemployment_rate_2022                       3272 non-null   float64
 15  POP_ESTIMATE_2020                            3264 non-null   float64
 16  POP_ESTIMATE_2021                            3264 non-null   float64
 17  POP_ESTIMATE_2022                            3264 non-null   float64
 18  BIRTHS_2020                                  3185 non-null   float64
 19  BIRTHS_2021                                  3185 non-null   float64
 20  BIRTHS_2022                                  3185 non-null   float64
 21  DEATHS_2020                                  3185 non-null   float64
 22  DEATHS_2021                                  3185 non-null   float64
 23  DEATHS_2022                                  3185 non-null   float64
 24  Less than a high school diploma, 2017-21     3272 non-null   float64
 25  High school diploma only, 2017-21            3272 non-null   float64
 26  Some college or associate's degree, 2017-21  3272 non-null   float64
 27  Bachelor's degree or higher, 2017-21         3272 non-null   float64
dtypes: float64(25), int64(1), object(2)
memory usage: 741.3+ KB

In [25]:
df.describe()

,FIPS_Code,Civilian_labor_force_2020,Employed_2020,Unemployed_2020,Unemployment_rate_2020,Civilian_labor_force_2021,Employed_2021,Unemployed_2021,Unemployment_rate_2021,Civilian_labor_force_2022,...,BIRTHS_2020,BIRTHS_2021,BIRTHS_2022,DEATHS_2020,DEATHS_2021,DEATHS_2022,"Less than a high school diploma, 2017-21","High school diploma only, 2017-21","Some college or associate's degree, 2017-21","Bachelor's degree or higher, 2017-21"
count,3272.000000,3.193000e+03,3.193000e+03,3.193000e+03,3193.000000,3.272000e+03,3.272000e+03,3.272000e+03,3272.000000,3.272000e+03,...,3185.000000,3185.000000,3185.000000,3185.000000,3185.000000,3185.000000,3.272000e+03,3.272000e+03,3.272000e+03,3.272000e+03
mean,31364.080685,1.011487e+05,9.298678e+04,8.161890e+03,6.775070,9.987897e+04,9.451355e+04,5.365419e+03,4.758282,1.014494e+05,...,558.800942,2238.924647,2304.721821,531.281947,2148.256515,2151.113344,1.562929e+04,3.686361e+04,3.985702e+04,4.674018e+04
std,16304.106856,6.140997e+05,5.598846e+05,5.505126e+04,2.317962,6.111525e+05,5.741782e+05,3.785253e+04,1.853632,6.218720e+05,...,3422.188511,13765.719735,14226.783971,3108.673055,12493.732986,12281.463062,1.141832e+05,2.118852e+05,2.405014e+05,2.941457e+05
min,1000.000000,1.800000e+02,1.700000e+02,4.000000e+00,1.600000,1.860000e+02,1.750000e+02,4.000000e+00,0.900000,1.470000e+02,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000e+00,9.000000e+00,0.000000e+00,0.000000e+00
25%,19026.500000,4.890000e+03,4.584000e+03,3.020000e+02,5.300000,4.933750e+03,4.649000e+03,2.230000e+02,3.500000,4.969000e+03,...,28.000000,114.000000,116.000000,33.000000,160.000000,162.000000,9.227500e+02,2.836500e+03,2.364000e+03,1.301000e+03
50%,30022.000000,1.187300e+04,1.110300e+04,8.000000e+02,6.600000,1.171650e+04,1.123850e+04,5.470000e+02,4.500000,1.181250e+04,...,68.000000,277.000000,284.000000,81.000000,369.000000,376.000000,2.332000e+03,6.570000e+03,5.462000e+03,3.588500e+03
75%,46101.250000,3.402100e+04,3.153400e+04,2.428000e+03,8.100000,3.320875e+04,3.162375e+04,1.543750e+03,5.600000,3.345675e+04,...,191.000000,770.000000,788.000000,203.000000,909.000000,919.000000,5.573000e+03,1.605925e+04,1.541025e+04,1.197300e+04
max,72153.000000,1.897156e+07,1.704757e+07,1.923991e+06,22.600000,1.897338e+07,1.758631e+07,1.387063e+06,19.500000,1.925197e+07,...,103123.000000,412194.000000,424652.000000,74463.000000,345550.000000,318497.000000,4.236035e+06,5.477154e+06,7.632443e+06,9.451438e+06

In [26]:
df.to_csv('/Users/bgrullon/challenges/ipc-county/data/Project_Data.csv', index=False)